body {
    background-color: rgb(26, 26, 26);
    color: white;
}

nav#navbar-topo {
  background-color: rgb(5, 5, 5);
  color: white;
}

a#navbar-topo-title {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

a#navbar-topo-title:hover {
  color: rgb(189, 189, 189);
}

div#container {
    background-color: white;
    color: black;
    margin: auto;
    padding: 20px;
    width: 1200px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.507);
}

.imagens {
    width: 80%; 
    justify-content: center;
    border-radius: 10px;
    margin: auto;
}

.imagens:hover {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.507);
}

.carousel-item {
    height: 32rem;
    background-color: rgb(10, 10, 10);
    color: white;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}

#myCarousel {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.507);
}

div#container-content {
    max-width: 1000px;
    margin: auto;
}

.pt-10 {
    padding-top: 140px;
}

.custom-1 img {
    float: right;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.507);
}

.custom-1 p {
    width: 40%;
}


.text-block {
    color: rgb(163, 163, 163);
}

.custom2 {
    padding-top: 150px;
}

.custom-2 img {
    float: left;
    width: 400px;
    border-radius: 10px;
    box-shadow: 4px 8px 0px 0px rgba(0, 0, 0, 0.507);
}

.custom-2 h3 {
    text-align: left;
    float: right;
    width: 40%;
}

.custom-2 p {
    text-align: left;
    float: right;
    width: 40%;
}


.transition, form button, form .question label, form .question input[type="number"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
  }
  
  html {
    background-color: #0d6efd;
  }
  
  form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  form h1 {
    color: #0d6efd;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  form button {
    margin-top: 35px;
    background-color: white;
    border: 1px solid #0d6efd;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #0d6efd;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form button:hover, form button:focus {
    color: white;
    background-color: #0d6efd;
  }
  form .question {
    position: relative;
    padding: 10px 0;
  }
  form .question:first-of-type {
    padding-top: 0;
  }
  form .question:last-of-type {
    padding-bottom: 0;
  }
  form .question label {
    transform-origin: left center;
    color: #0d6efd;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
  form .question input[type="number"] {
    appearance: none;
    background-color: none;
    border: 1px solid #0d6efd;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #0d6efd;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form .question input[type="number"]:focus {
    outline: none;
    background: #0d6efd;
    color: white;
    margin-top: 30px;
  }
  form .question input[type="number"]:valid {
    margin-top: 30px;
  }
  form .question input[type="number"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .question input[type="number"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }
  